body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: sans-serif;
}

.top {
    width: 100%;
    background: #313131;
    overflow: hidden;
}

.center {
    max-width: 1200px;
    margin: auto;
}

.top ul {
    margin: 0;
    padding: 0;
}

.top ul li {
    list-style: none;
    display: inline-block;
}

.top ul li a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    font-size: 18px;
    padding: 10px;
    transition: 0.4s all;
}
.top ul li a:hover {
    opacity: 0.4;
}

@media (max-width:768px) {
    .top ul li {
        display: block;
    }

    .top ul li a {
        text-align: center;
    }
}

